.modernGrey .dijitDialogTitleBar , #topMenuBar, .iconInput, .mapInput, .mapButton, .buttonSelected, .mapSubmit, .mapSubmitSelected, .slideMenu .mapInput, #settingsDialog .mapInput, .slideMenu .iconInput, #map .modernGrey .titlePane {
    filter: none !important;
}