body, html {
    background: #fff;
    height: auto;
    width: auto;
    overflow: auto;
}

body {
    padding: 20px;
}

p {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

#previewContainer h2 {
    padding: 0 0 3px 0;
    font-size: 13px;
    border-bottom: 1px solid #E5E5E5;
    margin: 10px 0;
}

#previewContainer h2:first-child {
    margin-top: 0;
}

#embedArea {
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
}

#embedArea td {
    vertical-align: top;
    margin: 0;
    padding: 0;
    border: 0;
}

#previewContainer .embedSizing {
    margin-right: 20px;
    display: block;
}

#previewContainer .embedSizing .item {
    display: block;
    margin-bottom: 6px;
    cursor: pointer;
}

#previewContainer .embedSizing .item input {
    border: 1px solid #E5E5E5;
}

#previewContainer .embedSizing .item .itemIcon {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background: url(../images/ui/uiSprite.png?v=3.00) no-repeat -144px 0;
}

#previewContainer .embedSizing .selected .itemIcon {
    background: url(../images/ui/uiSprite.png?v=3.00) no-repeat -128px 0;
}

#previewContainer .embedSizing .item ul {
    margin-top: 6px;
}

#previewContainer .embedSizing .item ul li {
    margin-left: 21px;
    margin-bottom: 6px;
}

#previewContainer .textAreaCon {
    margin: 10px 0;
}

#previewContainer #inputEmbed {
    line-height: 16px;
    width: 100%;
}

#previewContainer #mapPreviewResize {
    width: 700px;
    height: 525px;
    position: relative;
    top: 0 !important;
    left: 0 !important;
}

#previewContainer #mapPreviewResize.resizing {
    border: 1px dashed #E5E5E5;
    background: #ccc;
}

#previewContainer #map {
    width: 700px;
    height: 525px;
    min-width: inherit !important;
    top: 0;
    left: 0;
}
