.dojoxResizeHandle {
    float: right;
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 13px;
    height: 13px;
    z-index: 20;
    background: url(../images/ui/uiSprite.png?v=3.00) no-repeat -48px 0;
    line-height: 0px;
}

.dijitRtl .dojoxResizeHandle {
    float: right;
    left: 0px;
    right: auto;
    background: url(../images/ui/uiSprite.png?v=3.00) no-repeat -48px 0;
}

.dojoxResizeNW {
    cursor: nw-resize;
}

.dijitRtl .dojoxResizeNW {
    cursor: ne-resize;
}

.dojoxResizeNE {
    cursor: ne-resize;
}

.dijitRtl .dojoxResizeNE {
    cursor: nw-resize;
}

.dojoxResizeW {
    cursor: w-resize;
}

.dojoxResizeN {
    cursor: n-resize;
}

.dojoxResizeHandleClone {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px dashed #666;
    z-index: 999;
}