.flContent {
    margin: 0;
}

.flContent .title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.flContent .username, #map .modernGrey .flContent .username a {
    font-size: 12px;
    color: #999;
    line-height: 18px;
    margin-bottom: 5px;
}

.flContent .date {
    font-size: 12px;
    color: #999;
    line-height: 16px;
}

.flContent .content {
    margin-bottom: 5px;
}

.flContent .flImgA {
    display: inline-block;
    display:block\9;
    background: #fff;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-bottom: 5px;
}

.flContent img {
    display: inline-block;
    min-width: 20%;
    min-height: 20%;
    max-width: 90%;
    max-height: 100%;
    padding: 5px 2%;
    -moz-box-shadow: 1px 1px 3px #CCCCCC;
    -webkit-box-shadow: 1px 1px 3px #CCCCCC;
    box-shadow: 1px 1px 3px #CCCCCC;
    border: 1px solid #CCCCCC;
    background: url(../../images/ui/ajax-loader.gif) no-repeat center center #fff;
}

.flContent img:hover, .flContent img:focus {
    opacity: 0.85;
    background: none;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
