.uhContent {
    margin: 0;
}

.uhContent p {
    margin: 0 0 8px 0;
}

#uhCategories {
    width: 50%;
}

.uhContent .imgBlock {
    float: left;
    margin: 0 10px 10px 0;
}

.uhContent .imgBlock a {
    display: inline-block;
    background: #fff;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.uhContent .imgBlock img {
    padding: 4px;
    -moz-box-shadow: 1px 1px 3px #CCCCCC;
    -webkit-box-shadow: 1px 1px 3px #CCCCCC;
    box-shadow: 1px 1px 3px #CCCCCC;
    border: 1px solid #CCCCCC;
    background: url(../../images/ui/ajax-loader.gif) no-repeat center center #fff;
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
}

.uhContent .imgBlock img:hover {
    opacity: 0.85;
    background: none;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
