.ytContent {
    margin: 0;
    text-align: left;
    position: relative;
    zoom: 1;
    z-index: 1;
}

.ytContent .video {
    margin: 0 0 10px 0;
    position: relative;
    zoom: 1;
    z-index: 1;
    -moz-box-shadow: 1px 1px 3px #CCCCCC;
    -webkit-box-shadow: 1px 1px 3px #CCCCCC;
    box-shadow: 1px 1px 3px #CCCCCC;
    border: 1px solid #CCCCCC;
    background: url(../../images/ui/ajax-loader.gif?v=3.01) no-repeat center center #fff;
}

.ytContent .video  iframe {
    display: block;
    position: relative;
    zoom: 1;
    z-index: 1;
    margin: 0;
    padding: 0;
    border: 0;
}

.ytContent .title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.ytContent .username, #map .modernGrey .ytContent .username a {
    font-size: 12px;
    color: #999;
    line-height: 18px;
    margin-bottom: 5px;
}

.ytContent .content {
    margin-bottom: 5px;
}

.ytContent .date {
    font-size: 12px;
    color: #999;
    line-height: 16px;
}
